[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = https://github.com/rocketgithub/conciliacion_bancaria.git
	branch = 11.0
[submodule "bolson"]
	path = bolson
	url = https://github.com/rocketgithub/bolson.git
	branch = 11.0
[submodule "gface_ecofacturas"]
	path = gface_ecofacturas
	url = https://github.com/rocketgithub/gface_ecofacturas.git
	branch = 10.0
[submodule "perinola"]
	path = perinola
	url = git@github.com:rocketgithub/perinola
